<!-- Sponsor -->
<mj-section background-color="#e0ebf9" border-bottom="1px dashed lightgrey">
  <mj-column width="25%">
    <mj-image align="center" href="https://www.cloud-native-conf.wtf/cfp?utm_source=cfpland&utm_medium=text&utm_campaign=CNconference" src="https://drive.google.com/uc?id=13c2_tYMvuCxHbyHZFfYA5inDOWNGcjRu"></mj-image>
  </mj-column>
  <mj-column width="75%">
    <mj-text font-weight="bold">
      <a href="https://www.cloud-native-conf.wtf/cfp?utm_source=cfpland&utm_medium=text&utm_campaign=CNconference">WTF is Cloud Native?</a>
    </mj-text>
    <mj-text color="#666666" font-size="14px" line-height="20px">
      We believe that a proper Cloud Native transformation cannot happen without the right strategies and cultural changes.
      Submit your talk proposal today for a chance to join our hybrid conference this fall.
    </mj-text>
    <mj-text>
      <a href="https://www.cloud-native-conf.wtf/cfp?utm_source=cfpland&utm_medium=text&utm_campaign=CNconference">Learn more and apply now! →</a>
    </mj-text>
    <mj-text align="right" font-size="12px" font-style="italic">Sponsor</mj-text>
  </mj-column>
</mj-section>
