
<!-- Sponsor -->
<mj-section background-color="#e0ebf9" border-bottom="1px dashed lightgrey">
  <mj-column width="25%">
    <mj-image align="center" href="https://www.wearedevelopers.com/world-congress/call-for-speakers" src="https://drive.google.com/uc?id=1GkrRnbVTpWKo_tngRc4jvRenkm5F6YSO"></mj-image>
  </mj-column>
  <mj-column width="75%">
    <mj-text font-weight="bold">
      <a href="https://www.wearedevelopers.com/world-congress/call-for-speakers">
        WeAreDevelopers World Congress CFP
      </a>
    </mj-text>
    <mj-text color="#666666" font-size="14px" line-height="20px">
      The WeAreDevelopers World Congress is the world's largest annual gathering of
      software developers, engineers, software architects and tech decision-makers.
      Submit your talk and join an unparalleled line-up of inspiring speakers.
    </mj-text>
    <mj-text>
      <a href="https://www.wearedevelopers.com/world-congress/call-for-speakers">Applications close in 10 days →</a>
    </mj-text>
    <mj-text align="right" font-size="12px" font-style="italic">Sponsor</mj-text>
  </mj-column>
</mj-section>
