<!-- Sponsor -->
<mj-section background-color="#e0ebf9" border-bottom="1px dashed lightgrey">
  <mj-column width="25%">
    <mj-image align="center" href="https://derpcon.io/cfp.html" src="https://drive.google.com/uc?id=16V-8H9ufabHNqaRAMnEot8Dc7E1tChP1"></mj-image>
  </mj-column>
  <mj-column width="75%">
    <mj-text font-weight="bold">
      <a href="https://derpcon.io/cfp.html">DERPCON is Looking for Team Red or Team Blue Speakers</a>
    </mj-text>
    <mj-text color="#666666" font-size="14px" line-height="20px">
      The virtual security conference has an open CFP for security talks, but you have to hurry. Applications close on April 20th!
    </mj-text>
    <mj-text>
      <a href="https://derpcon.io/cfp.html">Apply Today →</a>
    </mj-text>
    <mj-text align="right" font-size="12px" font-style="italic">Sponsor</mj-text>
  </mj-column>
</mj-section>
