<!-- Sponsor -->
<mj-section background-color="#e0ebf9" border-bottom="1px dashed lightgrey">
  <mj-column width="25%">
    <mj-image align="center" href="https://chefconf.io/speak" src="https://drive.google.com/uc?id=16Mr9gTESBsdos5HnibeefYMLc6M64Tk5"></mj-image>
  </mj-column>
  <mj-column width="75%">
    <mj-text font-weight="bold">
      <a href="https://chefconf.io/speak">ChefConf 2020 CFP Due Soon</a>
    </mj-text>
    <mj-text color="#666666" font-size="14px" line-height="20px">
      ChefConf 2020 will be the premier venue for forward-thinking IT professionals working towards digital transformation, and <strong>they want to hear from you</strong>. Share your story of automating legacy applications, building learning organizations, leveraging cloud services, automating all the things, and more.
    </mj-text>
    <mj-text>
      <a href="https://chefconf.io/speak">Learn more and apply now! →</a>
    </mj-text>
    <mj-text align="right" font-size="12px" font-style="italic">Sponsor</mj-text>
  </mj-column>
</mj-section>
