<!-- Sponsor -->
<mj-section background-color="#e0ebf9" border-bottom="1px dashed lightgrey">
  <mj-column width="25%">
    <mj-image align="center" href="https://www.papercall.io/bifrost-2020" src="https://drive.google.com/uc?id=11gYXupL8uAHquOz5GhOPPyussVkaoMTn"></mj-image>
  </mj-column>
  <mj-column width="75%">
    <mj-text font-weight="bold">
      <a href="https://www.papercall.io/bifrost-2020">Bifrost Lead Developer Conference CFP Open</a>
    </mj-text>
    <mj-text color="#666666" font-size="14px" line-height="20px">
      Bifrost Conference is the place for leaders within the web development sector to come together and share practical and actionable knowledge with their peers. Bifrost conference is back for it’s 4th year and is looking for amazing speakers like you.
    </mj-text>
    <mj-text>
      <a href="https://www.papercall.io/bifrost-2020">Learn more and apply now! →</a>
    </mj-text>
    <mj-text align="right" font-size="12px" font-style="italic">Sponsor</mj-text>
  </mj-column>
</mj-section>
