<!-- Sponsor -->
<mj-section background-color="#e0ebf9" border-bottom="1px dashed lightgrey">
  <mj-column width="25%">
    <mj-image align="center" href="https://papercall.io/jlove" src="https://drive.google.com/uc?id=1dvSoLmx1_YVdCTGdgVRrFiT8337X-4iJ"></mj-image>
  </mj-column>
  <mj-column width="75%">
    <mj-text font-weight="bold">
      <a href="https://papercall.io/jlove">jLove Conference CFP</a>
    </mj-text>
    <mj-text color="#666666" font-size="14px" line-height="20px">
      <strong>Are you a student, a programmer with a few years of experience, an expert in Java or Java Champion?</strong> This December we are taking participants on a tour through the ecosystem of one of the most popular languages in the world.
    </mj-text>
    <mj-text>
      <a href="https://papercall.io/jlove">Learn more and apply! →</a>
    </mj-text>
    <mj-text align="right" font-size="12px" font-style="italic">Sponsor</mj-text>
  </mj-column>
</mj-section>
