<!-- Sponsor -->
<mj-section background-color="#e0ebf9" border-bottom="1px dashed lightgrey">
  <mj-column width="25%">
    <mj-image align="center" href="https://containercamp.typeform.com/to/P7EG6i" src="https://drive.google.com/uc?id=1pi7jxwdHEuBqdT94RIyZfv2ZJ48SSbeH"></mj-image>
  </mj-column>
  <mj-column width="75%">
    <mj-text font-weight="bold">
      <a href="https://containercamp.typeform.com/to/P7EG6i">Container Camp Wants Speakers Like You</a>
    </mj-text>
    <mj-text color="#666666" font-size="14px" line-height="20px">
      If you're passionate about containers and pushing the boundaries of what they can do then Container Camp
      has a perfect CFP for you!
    </mj-text>
    <mj-text>
      <a href="https://containercamp.typeform.com/to/P7EG6i">Apply by April 20th →</a>
    </mj-text>
    <mj-text align="right" font-size="12px" font-style="italic">Sponsor</mj-text>
  </mj-column>
</mj-section>
