<!-- Sponsor -->
<mj-section background-color="#e0ebf9" border-bottom="1px dashed lightgrey">
  <mj-column width="25%">
    <mj-image align="center" href="https://sessionize.com/techknowday_iwd_2021/" src="https://drive.google.com/uc?id=1VS_UhPAwqoA_x0vkttJgHaNmfjSBpoJr"></mj-image>
  </mj-column>
  <mj-column width="75%">
    <mj-text font-weight="bold">
      <a href="https://sessionize.com/techknowday_iwd_2021/">TECH(K)NOW Day on International Women's Day</a>
    </mj-text>
    <mj-text color="#666666" font-size="14px" line-height="20px">
      We are looking for women (cis, trans, and non-binary) who can give talks on technical, creative, business, and personal development topics. Share your experience and inspire others in tech!
    </mj-text>
    <mj-text>
      <a href="https://sessionize.com/techknowday_iwd_2021/">Learn more and apply today →</a>
    </mj-text>
    <mj-text align="right" font-size="12px" font-style="italic">Sponsor</mj-text>
  </mj-column>
</mj-section>
