<!-- Sponsor -->
<mj-section background-color="#e0ebf9" border-bottom="1px dashed lightgrey">
  <mj-column width="25%">
    <mj-image align="center" href="https://www.cvent.com/c/abstracts/73b6dabe-8ec1-4da2-82a4-cb045f6901d1" src="https://drive.google.com/uc?id=1xBQGQk0g5y-T_6jyAUNN3Z6CUrH5EvN8"></mj-image>
  </mj-column>
  <mj-column width="75%">
    <mj-text font-weight="bold">
      <a href="https://www.cvent.com/c/abstracts/73b6dabe-8ec1-4da2-82a4-cb045f6901d1">
        Trajectory Conference 2021 CFP
      </a>
    </mj-text>
    <mj-text color="#666666" font-size="14px" line-height="20px">
      This year we are focused on five specific themes and are looking for conceptual/theoretical content as well as examples from real-world practitioners.
      Experienced and novice speakers are welcome. We offer speaker coaching to ensure you deliver a compelling talk or workshop.
    </mj-text>
    <mj-text>
      <a href="https://www.cvent.com/c/abstracts/73b6dabe-8ec1-4da2-82a4-cb045f6901d1">Apply Today →</a>
    </mj-text>
    <mj-text align="right" font-size="12px" font-style="italic">Sponsor</mj-text>
  </mj-column>
</mj-section>
