<!-- Sponsor: Draft -->
<mj-section background-color="#e0ebf9" border-bottom="1px dashed lightgrey">
  <mj-column width="30%">
    <mj-image align="center" href="https://draft.dev/learn/posts/technical-tutorials" src="https://drive.google.com/uc?id=1qlldMq884v-DGyQLVHMP7mM36ZEetXFX"></mj-image>
  </mj-column>
  <mj-column width="70%">
    <mj-text font-weight="bold" line-height="24px">
      <a href="https://draft.dev/learn/posts/technical-tutorials">How to Write a Great Technical Tutorial</a>
    </mj-text>
    <mj-text color="#666666" font-size="16px" line-height="20px">
      We write a lot of tutorials for software engineers, so in this guide, we're sharing some tips for writing better technical tutorials.
    </mj-text>
    <mj-text>
      <a href="https://draft.dev/learn/posts/technical-tutorials">Read more →</a>
    </mj-text>
    <mj-text align="right" font-size="12px" font-style="italic">Sponsor</mj-text>
  </mj-column>
</mj-section>
