<!-- Sponsor: Draft -->
<mj-section background-color="#e0ebf9" border-bottom="1px dashed lightgrey">
  <mj-column width="30%">
    <mj-image align="center" href="https://learn.draft.dev/posts/three-questions" src="https://drive.google.com/uc?id=1E5Q8BQqPJgvXLA-s6z5RJLat-Uj_ggmo"></mj-image>
  </mj-column>
  <mj-column width="70%">
    <mj-text font-weight="bold" line-height="24px">
      <a href="https://learn.draft.dev/posts/three-questions">3 Questions You Should Ask Before Starting a Blog</a>
    </mj-text>
    <mj-text color="#666666" font-size="16px" line-height="20px">
      There are plenty of communication channels out there, so why would you invest in a blog? Here are three questions
      that every blog manager should ask before they get started.
    </mj-text>
    <mj-text>
      <a href="https://learn.draft.dev/posts/three-questions">Read more →</a>
    </mj-text>
    <mj-text align="right" font-size="12px" font-style="italic">Sponsor</mj-text>
  </mj-column>
</mj-section>
