<!-- Weekly Reading -->
<mj-section>
  <mj-column>
    <mj-text font-size="24px" padding-top="10px">📰 Weekly Reading %opentracker%</mj-text>
  </mj-column>
</mj-section>
{{#each blogPosts.items}}
<!-- Blog Post -->
<mj-section border-bottom="1px dashed lightgrey">
  <mj-column>
    <mj-text line-height="22px">
      <a href="{{this.link}}">{{this.title}}</a>
    </mj-text>
    <mj-text color="#666666" line-height="20px">
      {{this.content}}
    </mj-text>
  </mj-column>
</mj-section>
{{/each}}
